/****************************** 
          GENERAL
*******************************/
 :root {

  --dark-pink: #ff7c80;
  --light-pink: #FEB5B7;
  --light-background: #FFFCFC;
  --light-header-background:#FFF4F4;
  --grey-text: #9e9a9a;

  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-20: 5rem;
  --fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto;
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;

  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 2rem;
}

body {
  background-color:var(--light-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}


blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

 a {
   text-decoration: none;
   color: inherit;
 }

 p {
   line-height: 2rem;
   font-size:1.1rem;
   font-weight:300;
   margin-bottom:1rem;
 }

 h2 {
   font-size: 1.6rem;
 }

 h3 {
   font-size: 1.3rem;
 }

 .material-icons {
   vertical-align: middle;
 }

 input {
   background-color: white;
   border: 0.5px solid #eeeeee;
   border-radius: 0.8rem;
   padding:0.5rem 1rem;
 }

 input::placeholder {
   font-size: 0.8rem;
   font-weight: 300;
 }

 input[type="search"] {
   background-image:url("images/search.png");
   background-repeat: no-repeat;
   background-position: 90%;
   background-size: 15px;
   margin-bottom:2rem;
 }

 input[type="submit"] {
   background-color:var(--dark-pink);
   color:white;
   font-size:0.8rem;
   font-weight:600;
   border-radius: 0 0.5rem 0.5rem 0;
   border: 0.5px solid var(--dark-pink);
   margin-left: -2rem;
   padding:0.7rem 1rem 0.5rem 1rem;
 }

 ul, ol {
   list-style-type: none;
 }

 .active {
   color:var(--dark-pink);
   border-bottom: 2px solid var(--dark-pink);
 }
/****************************** 
          NAVBAR
*******************************/

nav {
  display:grid;
  grid-template-columns:1fr 3fr 1fr;
  grid-gap: 1rem;
  text-align: center;
  padding: 2rem 1rem;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight:700;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color:var(--dark-pink);
  border-bottom: 2px solid var(--dark-pink);
}

.social-media  a{
  margin: 0.5rem;
}

.nav-link-container a{
  padding: 1rem;
}

.navbar a.logo {
  font-family: 'roboto';
  font-size:1.8rem;
  font-weight:700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color:white;
}

.navbar a.logo:hover {
  border:none;
}


/****************************** 
          HEADER
*******************************/

.home-header {
  background-image: url("images/intro-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  height: 800px;
}

.about-header {
  background-image: url("images/about-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  height: 500px;
  margin-bottom:0
}

/****************************** 
          INTRO SECTION
*******************************/

.intro-text {
  max-width:30rem;
  margin: 0 0 0 50%;
}

.intro-text p {
  margin:0 0 2rem 0;
  width: 100%;
}

.text-link {
  color: var(--light-pink);
  text-decoration: none;
  border-bottom: 2px solid var(--light-pink);
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.text-link:hover{
  color:var(--dark-pink);
  border-color:var(--dark-pink);
}


/****************************** 
        FEATURED ARTICLE
*******************************/
.featured-article {
  background:rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
  width:90%;
  margin: -10rem auto 2rem 0;
  padding: 2rem 0 0 10rem;
  border-radius:1rem;
}

.article-preview {
  object-fit: cover;
  width:100%;
  text-align: center;
}

article {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0 9px #ebebeb;

}

.featured-article-list-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1rem;
}

.featured-title-wrapper{
  display: flex;
  justify-content: space-between;
}

.featured-title-wrapper h3{
  margin:0 0 1rem 0;
  padding:0;
  color: var(--light-pink);
  font-size:1.2rem;
}

small {
  color:var(--grey-text);
  
}

small .material-icons {
  font-size:1rem;
  margin:0 0.1rem 0 0.6rem;
}
article p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/****************************** 
         ABOUT BLOG
*******************************/
.about-blog {
  background-image: url("images/bg-pink.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem 0;
}
.about-blog-img{
  width:100%;
  padding:2rem;
}
.about-blog-img img{
  object-fit: cover;
  width: 100%;
}

.about-blog-text {
  padding: 2rem;
}

.about-blog-text h2 {
  margin-top:1rem;
}

.about-blog-text small {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.about-blog-text small span {
  color:var(--dark-pink);
}

/****************************** 
         ALL ARTICLES
*******************************/
.all-articles h2 {
  color:var(--dark-pink);
  text-align: center;
}

.search {
  margin: 0 2rem;
  width: 18rem;
  display: block;
  margin:0 2rem 0 auto;
}

.all-articles {
  padding: 2rem;
}

.instagram-imgs h2{
  text-align: center;
}

.instagram-imgs h2 span{
  color:var(--dark-pink);
}

.image-gallery{
  width:100%;
}

.image-gallery img{
  object-fit: cover;
  width: 100%;
  margin:3rem 0;
}


/****************************** 
          FOOTER
*******************************/
.footer-subscribe{
  background-image: url("images/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:700px;
  padding: 15rem;
  margin-bottom:0;
  margin-top:-5rem;
}

.footer-subscribe p {
  width: 25rem;
}

hr {
  background-color: #eeeeee;
  width:80%;
  height:0.5px;
  margin: 0 auto;
}

.footer-nav {
  background-color: #1A0F0E;
  padding: 3rem 2rem;
  text-align: center;
}

.footer-nav h2 {
  color: var(--light-pink);
  margin-top:0;
}

.footer-nav ul li {
  display: inline-block;
  padding: 1rem;
  font-size: 1rem;
  font-weight:700;
}

.footer-nav ul li a {
  color:white;
}
.footer-nav ul li a:hover {
  color:var(--light-pink);
}

.footer-copyright{
  color:#eeeeee;
  display:flex;
  justify-content: space-between;
  margin-top:2rem;
}

.footer-copyright .social-media .material-icons{
  color:white;
}

/****************************** 
          MEDIA QUERIES
*******************************/
@media (max-width: 68rem){
  .featured-article{
    padding-left:2rem;
    padding-right:2rem;
  }
}

@media (max-width: 64rem){
  .featured-article{
    width:100%;
  }
  .footer-subscribe {
    padding:15rem 5rem;
  }
}

@media (max-width: 52rem){
  .featured-article-list-container {
    grid-template-columns: 1fr 1fr;
  }
  .footer-subscribe {
    padding:15rem 1rem;
  }
}

@media (max-width: 46rem) {

  .home-header, .about-header, .footer-subscribe {
    background-color: var(--light-header-background);
    background-image: none;
    height:100%;
    padding:2rem 1rem;
  }

  .about-header{
    background-color:white;
  }
  .intro-text {
    width:100%;
    margin:0 auto;
  }
  .navbar a.logo {
    color:var(--dark-pink);
    font-size:1.3rem;
  }

  .nav-link-container a:nth-child(n+2):nth-child(-n+4), .social-media {
    display:none;
  }

  .about-blog {
    display: block;
  }

  .about-blog-text {
    padding: 1rem;
  }

  .all-articles{
    padding: 1rem;
  }

  .footer-copyright {
    display: block;
  }
  .footer-subscribe p {
    width:100%;
  }
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }

  .featured-article {
    margin: 2rem 1rem;
  }

}

@media (max-width: 36rem) {
  .featured-article-list-container {
    display:block;
  }
  .featured-article {
    padding: 1rem;
  }
  .search {
    margin: 0 auto;
  }
}